<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://localhost:8080/TransportWeb-1.0/webstart/jnlp" href="$outputFile">
 <information>
    <title>Transportliste</title>
    <vendor>Scott STephens</vendor>
    <homepage href="http://www.gardenfriend.org/"/>
    <description kind="one-line">Car Pool Service</description>
   </information>
 <security>
 <all-permissions/>
 </security>
 <resources>
    <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
 </resources>
 <application-desc main-class="Start">
 </application-desc>
</jnlp>